.tree-table {
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  margin: 0.5em;
  font-family: Open Sans, Segoe UI, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #283636;
  margin-top: 32px;

  &.four-col {
    grid-template-columns: 1fr max-content max-content max-content;
  }

  .row {
    display: contents;
    cursor: pointer;

    &:hover {
      & > div {
        background-color: #f0fbfc;
      }
    }
  }

  .cell {
    padding: 8px;
    border-top: 1px solid #f3f4f4;

    &.reg-fs {
      font-size: 1em;
    }
  }

  .first-row {
    border-top: 0;

    &:last-child {
      border-right: 0;
    }
  }

  .title {
    color: #556060;
  }

  .hdr {
    font-weight: 600;
  }

  .num {
    font-family: monospace;
    text-align: right;
  }

  .detail {
    grid-column: 1 / -1;
    padding: 0.5em;
    flex-wrap: wrap;
    display: none;
    border: 0;

    &.show {
      display: block;

      &.compact {
        display: flex;
      }
    }

    .break {
      flex-basis: 100%;
      height: 0;
    }

    .item {
      margin: 0.5em;

      .value {
        font-family: monospace;
      }

      .prewrap {
        white-space: pre-wrap;
      }
    }
  }
}

.branch {
  display: flex;
  flex-wrap: wrap;

  .break {
    flex-basis: 100%;
    height: 0;
  }

  .header {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0.5em;
  }

  .item {
    margin: 0.5em;

    .title {
      text-transform: uppercase;
      font-size: 0.75em;
      font-weight: 700;
    }

    .value {
      font-family: monospace;
      font-size: 1.2em;
    }
  }
}

.header-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #fff;
  box-shadow: 0 0 4px #ddd;
  padding: 2px;

  .sql {
    line-height: 24px;
    margin-left: 8px;
  }
}

.EmptyState,
.ErrorState {
  height: 100%;
  text-align: center;

  &-cardBody {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.ErrorState-headingText {
  color: darkgrey;
}
